@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*Dark Theme Palette: https://coolors.co/1c1c1c-2c2c2c-3c3c3c-4c4c4c-5c5c5c */
/*Light Theme Palette: https://coolors.co/f0f0f0-e0e0e0-d0d0d0-c0c0c0-b0b0b0 */

:root {
    --bg-color: #F0F0F0;
    --card-color: #E0E0E0;
    --text-bg-color: #D0D0D0;
    --text-color: #2C2C2C;
    --border-color: #4C4C4C;
}

.darkmode {
    --bg-color: #2C2C2C;
    --card-color: #3C3C3C;
    --text-bg-color: #4C4C4C;
    --text-color: #E0E0E0;
    --border-color: #C0C0C0;
}

* {
    font-family: "Shantell Sans", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--bg-color);
}

h1 {
    color: var(--text-color);
}

.card-grid {
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 20px;
    padding: 20px;
	justify-content: center;
    background-color: var(--card-color);
}

.card {
    width: 100%;
    aspect-ratio: 13 / 19;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 15px solid var(--border-color);
    border-radius: 15px;
    box-sizing: border-box;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.card p {
    text-align: center;
    background-color: var(--text-bg-color);
    border-radius: 5px;
    color: var(--text-color);
    margin: 10px;
    padding: 0;
}

#theme-switch {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
}

#theme-switch svg {
    fill: var(--text-color);
}

#theme-switch svg:last-child {
    display: none;
}

.darkmode #theme-switch svg:first-child {
    display: none;
}

.darkmode #theme-switch svg:last-child {
    display: block;
}